<launch>

<node name="track_node" pkg="perception_module" type="track_module.py" output="screen" />

<node name="mapping_node" pkg="perception_module" type="mapping_module.py" output="screen" />

<node name="remove_node" pkg="perception_module" type="autoremove.py" output="screen" />

<node name="detector_node" pkg="perception_module" type="detector.py" output="screen" />

</launch>